<a href="https://colab.research.google.com/github/kaiquenobre/datasets/blob/main/datacamp_pandas_foundations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/kaiquenobre/datasets/main/datacamp-pandas-foundations/world_ind_pop_data.csv')

In [ ]:
df.head()

                               CountryName  ... Urban population (% of total)
0                               Arab World  ...                     31.285384
1                   Caribbean small states  ...                     31.597490
2           Central Europe and the Baltics  ...                     44.507921
3  East Asia & Pacific (all income levels)  ...                     22.471132
4    East Asia & Pacific (developing only)  ...                     16.917679

[5 rows x 5 columns]

In [ ]:
df.columns

Index(['CountryName', 'CountryCode', 'Year', 'Total Population',
       'Urban population (% of total)'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13374 entries, 0 to 13373
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CountryName                    13374 non-null  object
 1   CountryCode                    13374 non-null  object
 2   Year                           13374 non-null  int64
 3   Total Population               13374 non-null  float64
 4   Urban population (% of total)  13374 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 522.5+ KB